PokemonGo/RocketAPI/Console/bin/
PokemonGo/RocketAPI/Console/obj/
PokemonGo/RocketAPI/GUI/bin/
PokemonGo/RocketAPI/GUI/obj/
PokemonGo/RocketAPI/bin/
PokemonGo/RocketAPI/obj/
bhelper/bin/
bhelper/obj/
packages/
